<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" type="text/css">
	<title> Add/Remove Questions on Form</title>

	<script src="{{ url_for('static', filename='js/createTemplate.js') }}"></script>
</head>

<body>
	<div class="box header">
		<h2>Feedback System</h2>
	</div>
	<br>

	<div class="screenbox">
		<h1>Add/Remove Questions on Feedback Form</h1>
		<form class="form" method="post">

			<div class="question">
				<input type="text" placeholder="Enter Template Name" style="font-size:35px" name="templateName"
					class="centreButton"><br><br>
			</div>

			<input type="button" class="button" value="Add Question" onclick="addRow('dataTable')" />
			<input type="button" class="button" value="Delete Question" onclick="deleteRow('dataTable')" />
			<br><br>

			<table id="dataTable">
				<tr>
					<td><input type="checkbox" name="chk" /></td>
					<td><input type="text" name="txt" /></td>
					<td>
						<select name="questionType">
							<option value="blank"> -- Select an Option -- </option>
							<option value="Star Rating">Star Rating</option>
							<option value="Text">Text</option>
						</select>
					</TD>
				</tr>
			</table>

			<br>
			<input type="submit" value="Create Form" class="button" />
		</form>
	</div>
</body>

</html>