<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap" rel="stylesheet">
	<title> Add/Remove Questions on Form</title>
	<link rel="stylesheet" href="../css/main.css" type="text/css">
	<script src="https://cdn.lordicon.com/libs/frhvbuzj/lord-icon-2.0.2.js"></script>
	<script src="{{ url_for('static', filename='js/createTemplate.js') }}"></script>
</head>

<body>
	<div class="box header">
		<h2>Feedback System</h2>
	</div>
	<br>

	<div class="screenbox" style="height: 570px">
		<form class="form" method="post">
			<h3>
				<lord-icon
					src="https://cdn.lordicon.com/nocovwne.json"
					trigger="loop"
					colors="primary:#121331,secondary:#16ccec"
					style="width:60px;height:60px">
				</lord-icon>
				<br>
				ADD/REMOVE QUESTIONS <br> ON FEEDBACK FORM</h3>

			<div class="question">
				<input type="text" name="templateName" required/>
				<label>Enter Template Name</label>
			</div>

			<input type="button" class="button" value="ADD QUESTION" style="font-size: 11.5px; padding: 12px 10px !important;" onclick="addRow('dataTable')" />
			<input type="button" class="button" value="DELETE QUESTION" style="font-size: 11.5px; padding: 12px 10px;" onclick="deleteRow('dataTable')" />
			<br><br>

			<table id="dataTable">
				<tr>
					<div style="display:grid; grid-template-columns:30px 1fr;">
						<td><input type="checkbox" name="chk" style="top:45%;left:45%;position:relative;transform: translate(-50%,-50%);"/></td>
						<td>
						<div class="question">
							<input type="text" name="txt" required/>
							<label>Question text</label>
						</div>
						</td>
					</div>
				
					<td>
						<div class="custom-select" style="width:250px;">
							<select name="questionType">
								<option value="blank"> -- Select an Option -- </option>
								<option value="Star Rating">Star Rating</option>
								<option value="Text">Text</option>
							</select>
						</div>
					<td>
				</tr>
			</table>

			<br>
			<input type="submit" value="CREATE FORM" style="margin-top:70px;" class="button" />
		</form>
	</div>
</body>


</html>