<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Feedback System</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/viewEvents.js') }}"></script>
    </head>

    <body>
        <div class="box header"><h2>Feedback System</h2></div>
        <br>

        <div class="screenbox" id="tablediv">
            <br>
            <br>

            <h1>{{g.user.username}}'s Profile</h1>

            <form method="post" id="eventform" class="">
                <table id="thisTable">
                    <caption></caption>
                    <tr>
                        <th>Event Code</th>
                        <th>Event Name</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </table>
            </form>

            <script>
                var entries = JSON.parse('{{ g.jdump|safe }}');
                createTable(entries);
            </script>

            <form action="create" class = "centrecontent">
                <input type="submit" value="Create Event" style="font-size:35px" class="button">
            </form>

            <br>
            <br>

            <form action="join" class = "centrecontent">
                <input type="submit" value="Join Event" style="font-size:35px" class="button">
            </form>
        </div>

    </body>

</html>