<!DOCTYPE html>
<html lang="en">

<head>
    <title>Feedback System</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <div class="box header">
        <h2>Feedback System</h2>
    </div>
    <br>

    <div class="screenbox">
        <br>
        <br>

        <form class="form" method="post">
            <div class="question">
                <input type="text" placeholder="Enter Event Name" style="font-size:35px" name="eventName" class="centreButton"><br><br>
            </div>

            <label class="labelLogin">Template: </label>
            <select name="template">

              
                    {% for template in list %}
                  
                        <option value={{template}}> {{template}}</option>
                 
                    {% endfor %}
               

                <option value="Create">Create your Own Template</option>
            </select><br><br>

            <label class="labelLogin">Feedback Frequency: </label>
            <select name="feedbackFrequency" onchange="displayDivDemo('hideValuesOnSelect',this)">
                <option value="prompt">When Prompted by Host</option>
                <option value="attendeeChoice">When an Attendee Chooses</option>
                <option value="interval">At Set Intervals</option>
            </select><br><br>

            <div id="hideValuesOnSelect" style="display:none">
                <input type="text" placeholder="Hour" name="hour" style="font-size:35px"><br><br>
                <input type="text" placeholder="Minute" name="minute" style="font-size:35px"><br><br>
            </div>
            <input type="submit" value="Submit" class="button"><br>
        </form>
        
        <script src="{{ url_for('static', filename='js/intervalOption.js') }}"></script>
        <br>
        <br>
    </div>
</body>

</html>