<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Feedback System</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" type="text/css">
        <script src="{{ url_for('static', filename='js/feedbackForm.js') }}"></script>
    </head>


    <!-- https://stackoverflow.com/questions/17001961/how-to-add-drop-down-list-select-programmatically star rating drop down 28/02/2021 -->
    <!-- https://stackoverflow.com/questions/15164655/generate-html-table-from-2d-javascript-array -->
    <!-- https://stackoverflow.com/questions/61472018/how-do-i-convert-pythonflask-list-of-objects-to-js-list-of-objects -->
    <body>
        <div class="box header"><h2>Feedback System</h2></div>
        <br>

        <div class="screenbox" id="tablediv">
            <h1>{{g.room_code}}</h1>
          
            <form method="post" id="feedbackform" class="form">
                <table id="thisTable">
                    <caption>Feedback Form</caption>
                    <tr>
                        <th></th>
                        <th>Question</th>
                        <th>Feedback</th>
                    </tr>
                </table>
                <br>

                <label>Anonymous</label> 
                <select name="anonymous">
                    <option value="False">Feedback is NOT Anonymous</option>
                    <option value="True">Feedback is Anonymous</option>
                </select>
                <br>
                <input type="submit" value="Submit" class="button" />
            </form>

            <script>
                var entries = JSON.parse('{{ g.jdump|safe }}');
                createTable(entries);
            </script>
        </div>
    </body>

</html>