<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Feedback System</title>
        <link rel="stylesheet" href="../css/main.css" type="text/css">
        <script src="https://cdn.lordicon.com/libs/frhvbuzj/lord-icon-2.0.2.js"></script>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/feedbackForm.js') }}"></script>
    </head>


    <!-- https://stackoverflow.com/questions/17001961/how-to-add-drop-down-list-select-programmatically star rating drop down 28/02/2021 -->
    <!-- https://stackoverflow.com/questions/15164655/generate-html-table-from-2d-javascript-array -->
    <!-- https://stackoverflow.com/questions/61472018/how-do-i-convert-pythonflask-list-of-objects-to-js-list-of-objects -->
    <body>
        <div class="box header"><h2>Feedback System</h2></div>
        <br>

        <div class="screenbox" id="tablediv" style="width: 300px;">
            <h3 style="text-align: center;">

               
                <lord-icon
                    src="https://cdn.lordicon.com/wloilxuq.json"
                    trigger="loop"
                    colors="primary:#121331,secondary:#16ccec"
                    style="width:60px;height:60px">
                </lord-icon>
                <br>
                {{g.room_code}}
            
            </h3>

    
          
            <form method="post" id="feedbackform" class="form">
                <table id="thisTable">
                    <caption style="font-weight: 900; color: #16ccec; font-size: 20px;">Feedback Form</caption>
                    <tr>
                        <th></th>
                        <th>Question</th>
                        <th>Feedback</th>
                    </tr>
                </table>
                <br>

                <label>Anonymous</label> 

                <!-- <div class="custom-select">
                    <select name="anonymous">
                        <option value="False"> -- Select an Option -- </option>
                        <option value="True">Star Rating</option>
                    </select>
                </div> -->


                <select name="anonymous">
                    <option value="False">Feedback is NOT Anonymous</option>
                    <option value="True">Feedback is Anonymous</option>
                </select>
                <br>
                <input type="submit" value="SUBMIT" class="button" />
            </form>

            <script>
                var entries = JSON.parse('{{ g.jdump|safe }}');
                createTable(entries);
            </script>
        </div>
    </body>

</html>