<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Feedback System</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" type="text/css">

    </head>

    <body>
        <div class="box"><h1>Feedback System</h1></div>
        <br>

        <div class="screenbox">
            <br>
            <br>

            <form action="login" class = "centrecontent">
                <input type="submit" value="Login" style="font-size:35px" class="centreButton">
            </form>

            <br>
            <br>

            <form action="register" class = "centrecontent">
                <input type="submit" value="Register" style="font-size:35px" width="50cm" class="centreButton">
            </form>

            <br>
            <br>

            <form action="join" class = "centrecontent">
                <input type="submit" value="Continue as Guest" style="font-size:35px" class="centreButton">
            </form>

        </div>

    <div id="like_button_container"></div>

    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    </body>

</html>