<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Feedback System</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" type="text/css">
    </head>

    <body>
        <div class="box"><h1>Feedback System</h1></div>
        <br>


        <div class="screenbox">
            <br>
            <br>

            <form action="" class = "centrecontent">
                <input type="input" value="" placeholder="Enter Event Code" style="font-size:35px" class="centreButton">
            </form>

            <br>
            <br>

    </body>

</html>