<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Feedback System</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="box header"><h2>Feedback System</h2></div>
        <br>

        <div class="screenbox">

            <form action="" class = "form" method="post">
                <input type="input" value="" placeholder="Enter Event Code" style="font-size:24px" class="button" name="roomCode">
            </form>

    </body>

</html>