<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Feedback System</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" type="text/css">
    </head>

    <body>
        <div class="box"><h1>Feedback System</h1></div>
        <br>


        <div class="screenbox">
            <br>
            <br>
            
            <div class="textbox"> <br>

            <form method="post" action="">
                <label class="labelLogin">Username: </label><input type="input" name="username" required class="inputBox"><br><br>
                <label class="labelLogin">Password: </label><input type="password" name="password" required class="inputBox"><br>
                <br>
                <input type="submit" value="Login" class="centreButton">
            </form>
            <br>
            </div>

    </body>

</html>